html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

body { word-wrap: break-word; }
body, select, textarea, button, input { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe Emoji UI", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1rem; line-height: 1.5; color: #2a2a2a; outline: none; }

a { outline: none; color: #ee4923; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0 none; }
a > img { vertical-align: bottom; }

h1,h2,h3,h4,h5,h6 {font-weight: normal; }
#logo-text { font-weight: bold; font-size: 39px; line-height: 43px; letter-spacing: -0.05em; }
h2, h1 { font-size: 28px; line-height: 32px; }
h3 { font-size: 22px; line-height: 26px; }
h4 { font-size: 20px; line-height: 24px; }
h5 { font-size: 16px; line-height: 20px; }

.mejs-container { max-width: 100%; }
video { max-width: 100%; }
iframe { max-width: 100%; }

textarea { overflow: auto; vertical-align: top; }
input:focus { outline: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
button[disabled], input[disabled] { cursor: default }
.btn, .bbcodes, .ui-button { font-weight: bold; display: inline-block; cursor: pointer; height: 37px; line-height: normal; margin: 0 2px; padding: 6px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.2); color: #fff !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); border: 1px solid #ca1f0c; border-width: 0 0 1px 0; }
.btn:active, .bbcodes:active, .ui-button:active { background: #f54305; box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.2); }

.btn:hover, .bbcodes:hover, .ui-button:hover { opacity: 0.85 }
.bbcodes, .ui-button { height: 30px; padding: 5px 14px }

p,dl,dd,pre,ul,ol,blockquote,address,table,fieldset { margin-bottom: 20px }

blockquote { margin-left: 20px; padding: 0 20px; font-family: Georgia, Times, serif; font-style: italic; border-left: 6px solid #d7d7d7; color: #737373 }
strong, b { font-weight: bold }
em, cite, i { font-style: italic }
caption { text-align: left }
th, td { vertical-align: middle }
small, .small { font-size: 9em }

.thd, .ui-icon, .ico:before { display: inline-block; background-image: url(../images/sprite.png); }
.thd, .ui-icon { text-align: left; overflow: hidden; text-indent: -9999px; white-space: nowrap; }
.ico:before { float: left; content: ""; width: 12px; height: 12px }

.clr { clear: both }
.clrfix:after { clear: both; content: ""; display: block; height: 0; width: 0; visibility: hidden }

/* == Template == */
#toolbar { position: relative; width: 100%; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2); }
#toolbar, .more a { background-color: #353535; border-bottom: 1px solid #070707; background: -webkit-linear-gradient(top, #353535 0%, #222 100%); background: -moz-linear-gradient(top, #353535 0%, #222 100%); background: -ms-linear-gradient(top, #353535 0%, #222 100%); background: -o-linear-gradient(top, #353535 0%, #222 100%); background: linear-gradient(top, #353535 0%, #222 100%); }
#in-toolbar { overflow: hidden; display: block; width: 100%; height: 44px; }
#in-toolbar a { color: #fff }

/* Top Menu */
#menu-btn { cursor: pointer; float: right; width: 17px; padding: 0 20px; height: 44px; position: relative }
#hamburger { top: 20px; }
#hamburger:after { bottom: -3px; }
#hamburger:before, #hamburger:after, #hamburger { background: #fff; content: ""; display: block; height: 3px; left: 0; postion: relative; width: 17px; }
#hamburger:before { top: -6px; }

#menu-head { display: none; }
#menu-head.open { display: block; }
#menu-head a { border-top: 1px solid #222; display: block; height: 1px; padding: 10px 20px; color: #fff; }
#menu-head a:hover { background: #ee4923; text-decoration: none; }

/* Login */
#login-btn { padding: 11px 20px; font-weight: bold; float: left; cursor: pointer; }
#login-btn:before { margin: 2px 5px 0 0; height: 14px; background-position: 0 0 }

.wideDialog { padding-top: 45px; display: none; z-index: 99999; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #fff; background: rgba(255, 255, 255, 0.9); }
.wideDialog.open { display: block; }

#lg-close { cursor: pointer; position: absolute; right: 0; top: 0; width: 45px; height: 45px; background-position: -30px -38px; }

#loginpane { float: left; margin-top: 41px }
#loginbox { position: fixed !important }

.login-form { padding: 20px; margin-top: 13%; }
.login-form .f_input { font-size: 1.2em; padding: 8px; width: 100%; height: 44px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.login-form li { margin-bottom: 1em }
.login-form li label { display: block; margin-bottom: .2em }
.login-form a { color: #ee4923 !important; }

.log-links { padding: 15px 0; text-align: center; }

#usermenu { padding: 20px; }
#usermenu a { display: block; font-size: 1.5em; color: #ee4923; }

/* = Header = */
.background { height: 35px; background: #ee4623 url(../images/bg.jpg) repeat-x; }
#header { padding: 0 20px; position: relative; }
#header { background-color: #fff; background: -webkit-linear-gradient(top, #fff 60%, #ebebeb 100%); background: -moz-linear-gradient(top, #fff 60%, #ebebeb 100%); background: -ms-linear-gradient(top, #fff 60%, #ebebeb 100%); background: -o-linear-gradient(top, #fff 60%, #ebebeb 100%); background: linear-gradient(top, #fff 60%, #ebebeb 100%); }

#header, .post { border-bottom: 1px solid #d4d4d4; box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); }

#logo * { display: block; }
a#logo { text-decoration: none; }
a#logo * { cursor: pointer; }
#logo span { font-size: 1.2em; color: #595959; }
#logo { display: block; text-align: center; padding: 20px 0; }

/* Quick Search */
#quicksearch { display: inline; }
.quicksearch { overflow: hidden; width: 100%; position: relative }
.quicksearch input { padding: 6px 37px 6px 10px; width: 100%; height: 37px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }
.quicksearch button { cursor: pointer; width: 30px; height: 35px; margin: 1px; position: absolute; right: 0; top: 0; background-position: 0 -14px; padding: 0; background-color: transparent; border: 0 none; transition: background-position .4s ease; -webkit-transition: background-position .4s ease; -o-transition: background-position .4s ease; -moz-transition: background-position .4s ease; }
.quicksearch button:hover { background-position: 0 -49px; }

/* Go2Full */
#go2full { color: #8b8b8b; text-shadow: 0 1px 0 #fff; display: block; width: 100%; padding: 12px 0; font-size: .8em; }
#go2full:before { margin: 2px 10px 0 0; width: 31px; background-position: -12px 0; }

/* = Footer = */
#footer { text-align: center; }
#footer .background { height: 8px; background-position: 50% 50%; }
#copyright { padding: 16px 20px; font-size: .8em; }
#copyright a, #copyright { color: #6a6a6a; }

/* FootMenu */
#footmenu { color: #fff; height: 1%; padding: 20px; background: #2d2d2d url(../images/dbg.png); }
#footmenu h3 { margin-bottom: .6em; }
#footmenu a { color: #fff; }
.main-nav a { display: block; margin-bottom: 1px; height: 1px; padding: 5px 10px; background: #262626; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.nav-sep { display: inline-block; height: 14px; }

/* = Content = */
.post { height: 1%; padding: 20px; }
.post img { margin: 5px 0; max-width: 100%; }
.post .title { margin-bottom: .5em; }
.title a { color: #2a2a2a; }
.title a:hover { color: #ee4923; }
.post-info, icat, .com-inf { margin: 0; font-size: .8em; color: #6a6a6a; }
.post-info a, .icat a { font-weight: bold; color: #6a6a6a; }
.post-info a:hover, .icat a:hover { color: #ee4923; }
.post-info li { display: inline-block; margin-right: 1em; }
.post-info li:before { margin: 3px 5px 0 0; }
.post-info { margin-bottom: 5px; }
.post-cont { margin-bottom: 20px; }

.iauthor:before { width: 8px; height: 10px; background-position: -43px 0; }
.idate:before { width: 10px; height: 10px; background-position: -60px 0; }
.iviews:before { width: 10px; height: 11px; background-position: -70px 0; }
.icat:before { position: absolute; margin: 4px 5px 0 -14px; width: 9px; height: 10px; background-position: -51px 0; }

.icat { border-top: 1px solid #e7e7e7; position: relative; padding: 5px 0 15px 14px; }

.com-num, .more a, .pager * { -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.more a { padding: 8px 20px; float: left; text-shadow: 0 -1px 0 #000; }
.more a, a .pprev, a .pnext { color: #fff; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); transition: opacity .4s ease; -webkit-transition: opacity .4s ease; -o-transition: opacity .4s ease; -moz-transition: opacity .4s ease; }
.more a:hover, a:hover .pprev, a:hover .pnext { text-decoration: none; opacity: .9; }

.com-num { color: #ee4923; float: right; padding: 8px 10px; background: #f6f2ee; }
.com-num:before { float: none; vertical-align: middle; display: inline-block; width: 13px; height: 13px; margin-right: 4px; background-position: -80px 0; }

/* Fullstory */
.fullstory { border-bottom-width: 0; box-shadow: none; -moz-box-shadow: none; -moz-box-shadow: none; }

.box { margin-bottom: 2em; }
.box h3 { padding: 0 20px; margin-bottom: .6em; }
#rel-news { border-bottom: 1px solid #e1e1e1; }
#rel-news a { display: block; height: 1px; padding: 8px 40px 8px 20px; border-top: 1px solid #e1e1e1; position: relative; }
#rel-news a { background-color: #f5f5f5; background: -webkit-linear-gradient(top, #f5f5f5 30%, #f0f0f0 100%); background: -moz-linear-gradient(top, #f5f5f5 30%, #f0f0f0 100%); background: -ms-linear-gradient(top, #f5f5f5 30%, #f0f0f0 100%); background: -o-linear-gradient(top, #f5f5f5 30%, #f0f0f0 100%); background: linear-gradient(top, #f5f5f5 30%, #f0f0f0 100%); }
