html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

body { word-wrap: break-word; }
body, select, textarea, button, input { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe Emoji UI", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1rem; line-height: 1.5; color: #2a2a2a; outline: none; }

a { outline: none; color: #ee4923; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0 none; }
a > img { vertical-align: bottom; }

h1,h2,h3,h4,h5,h6 {font-weight: normal; }
#logo-text { font-weight: bold; font-size: 39px; line-height: 43px; letter-spacing: -0.05em; }
h2, h1 { font-size: 28px; line-height: 32px; }
h3 { font-size: 22px; line-height: 26px; }
h4 { font-size: 20px; line-height: 24px; }
h5 { font-size: 16px; line-height: 20px; }

.mejs-container { max-width: 100%; }
video { max-width: 100%; }
iframe { max-width: 100%; }

textarea { overflow: auto; vertical-align: top; }
input:focus { outline: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
button[disabled], input[disabled] { cursor: default }
.btn, .bbcodes, .ui-button { font-weight: bold; display: inline-block; cursor: pointer; height: 37px; line-height: normal; margin: 0 2px; padding: 6px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.2); color: #fff !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2); border: 1px solid #ca1f0c; border-width: 0 0 1px 0; }
.btn:active, .bbcodes:active, .ui-button:active { background: #f54305; box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.2); }

.btn:hover, .bbcodes:hover, .ui-button:hover { opacity: 0.85 }
.bbcodes, .ui-button { height: 30px; padding: 5px 14px }

p,dl,dd,pre,ul,ol,blockquote,address,table,fieldset { margin-bottom: 20px }

blockquote { margin-left: 20px; padding: 0 20px; font-family: Georgia, Times, serif; font-style: italic; border-left: 6px solid #d7d7d7; color: #737373 }
strong, b { font-weight: bold }
em, cite, i { font-style: italic }
caption { text-align: left }
th, td { vertical-align: middle }
small, .small { font-size: 9em }

.thd, .ui-icon, .ico:before { display: inline-block; background-image: url(../images/sprite.png); }
.thd, .ui-icon { text-align: left; overflow: hidden; text-indent: -9999px; white-space: nowrap; }
.ico:before { float: left; content: ""; width: 12px; height: 12px }

.clr { clear: both }
.clrfix:after { clear: both; content: ""; display: block; height: 0; width: 0; visibility: hidden }

/* == Template == */
#toolbar { position: relative; width: 100%; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2); }
#toolbar, .more a { background-color: #353535; border-bottom: 1px solid #070707; background: -webkit-linear-gradient(top, #353535 0%, #222 100%); background: -moz-linear-gradient(top, #353535 0%, #222 100%); background: -ms-linear-gradient(top, #353535 0%, #222 100%); background: -o-linear-gradient(top, #353535 0%, #222 100%); background: linear-gradient(top, #353535 0%, #222 100%); }
#in-toolbar { overflow: hidden; display: block; width: 100%; height: 44px; }
#in-toolbar a { color: #fff }

/* Top Menu */
#menu-btn { cursor: pointer; float: right; width: 17px; padding: 0 20px; height: 44px; position: relative }
#hamburger { top: 20px; }
#hamburger:after { bottom: -3px; }
#hamburger:before, #hamburger:after, #hamburger { background: #fff; content: ""; display: block; height: 3px; left: 0; postion: relative; width: 17px; }
#hamburger:before { top: -6px; }

#menu-head { display: none; }
#menu-head.open { display: block; }
#menu-head a { border-top: 1px solid #222; display: block; height: 1px; padding: 10px 20px; color: #fff; }
#menu-head a:hover { background: #ee4923; text-decoration: none; }

/* Login */
#login-btn { padding: 11px 20px; font-weight: bold; float: left; cursor: pointer; }
#login-btn:before { margin: 2px 5px 0 0; height: 14px; background-position: 0 0 }

.wideDialog { padding-top: 45px; display: none; z-index: 99999; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #fff; background: rgba(255, 255, 255, 0.9); }
.wideDialog.open { display: block; }

#lg-close { cursor: pointer; position: absolute; right: 0; top: 0; width: 45px; height: 45px; background-position: -30px -38px; }

#loginpane { float: left; margin-top: 41px }
